body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dadada;
}

header {
  background-color: #ff0066;
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 0.5rem 1rem;
  background-color: #ff0066;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(174, 0, 255);
}

#task-list .task {
  display: flex;
  background: #f1f1f1;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border-radius: 4px;
}

#task-list .task.completed span {
  text-decoration: line-through;
  color: gray;
}

.right-btn {
  justify-content: space-between;
  margin-left: 350px;
  
}
.done-btn {
  background-color: chartreuse;
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  cursor: pointer;
}

.done-btn:hover {
  background-color: rgb(54, 109, 0);
}
.delete-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #c0392b;
}
